.ga {
  padding: 20px;
}
.ga .wrap {
  position: relative;
}

.ga img {
  border-radius: 10px;
  border: 1px solid;
  object-fit: cover;
}
.ga button {
  position: absolute;
  border: 1px solid var(--gray6);
  background-color: var(--gray8);
  border-radius: 100px;
  padding: 30px 0;
  top: 50%;
}
.ga button:hover {
  opacity: 1;
  background-color: var(--gray7);
}
.ga button.l {
  left: 0;
  /* transform: translateX(-50%) translateY(-50%); */
  /* 한번에 쓸거면 밑에처럼 */
  transform: translate(-50%, -50%);
}
.ga button.r {
  right: 0;
  transform: translate(50%, -50%);
}
