footer#ah {
  row-gap: 30px;
  padding: 20px;
}

footer ul a {
  font-size: 14px;
}
footer ul a:hover {
  text-decoration: underline;
}
footer .wrap {
  flex-direction: row;
}
footer.txt {
  row-gap: 10px;
  font-size: 12px;
}
footer.txt:nth-child(2) {
  font-size: 10px;
}
