header {
  background-color: var(--gray9);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  border-bottom: 1px solid var(--gray);
}

header ul {
  display: flex;
  column-gap: 10px;
}
button.title {
  border: none;
  font-size: 28px;
  color: var(--red7);
  padding: 15px;
  align-items: center;
}
button.login.l.btn {
  background-color: red;
  border: none;
}
header.h {
  padding: 10px;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}

header .h.lang {
  border: 1px solid var(--gray6);
}
header .h.l {
  background-color: var(--red7);
}
button.btn {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 100px;
}
